@font-face {
  font-family: Quicksand-VariableFont;
  src: url("\\quantum-screen-assets\\Quicksand font 1\\Quicksand-VariableFont_wght.ttf");
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.contact p {
  color: #1F7A54;
  padding: 5px;
}

@font-face {
  font-family: Quicksand-VariableFont;
  src: url("\\quantum-screen-assets\\Quicksand font 1\\Quicksand-VariableFont_wght.ttf");
}

.footer {
  background-color: #E0E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #616161;
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer * {
  padding: 8px;
}

.footer .company-name {
  font-weight: bold;
}

.footer .divider {
  font-size: 24px;
}

.divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #0000001F;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@font-face {
  font-family: Quicksand-VariableFont;
  src: url("\\quantum-screen-assets\\Quicksand font 1\\Quicksand-VariableFont_wght.ttf");
}

html, body {
  margin: 0;
  background: #EEEEEE;
  font-family: Quicksand-VariableFont;
}

#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  background-image: url("\\quantum-screen-assets\\header-pattern-image.png");
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#hero .quantum-logo {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#hero .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  margin-top: 11px;
}

#hero ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  color: #3FD28B;
}

#hero ul li {
  padding: 8px;
}

#hero ul li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  width: 10px;
  height: 10px;
  background-color: #2A7FF3;
  padding: 5px;
  border-radius: 50%;
  color: #FFFFFF;
  position: relative;
  left: -10px;
  bottom: 10px;
}

#hero ul li:first-child {
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}

#hero ul .hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero ul #notifications, #hero ul #announcements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#hero .hamburger {
  display: none;
}

.container {
  width: 975px;
  display: block;
  margin: 35px auto 0px auto;
}

.top-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #8DDC97;
}

.top-toggle .toggle-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px;
}

.top-toggle .toggle-titles .title {
  display: block;
  margin: auto 0px auto 0px;
}

.top-toggle .toggle-titles .available-number {
  font-size: x-large;
  font-weight: 900;
}

.top-toggle .toggle-titles img {
  width: 40px;
}

.top-toggle .toggle-titles > * {
  padding: 4px;
  text-transform: capitalize;
  font-weight: medium;
}

.top-toggle #courses {
  border-bottom: 4px solid #222222;
}

.page-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.page-detail .subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #686868;
}

.page-detail .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-detail .sort * {
  padding: 5px;
  margin-bottom: 15px;
}

.page-detail .sort img {
  margin-bottom: 0;
  padding-left: 25px;
}

.page-detail .sort-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.page-detail .sort-search img {
  width: 25px;
  height: 25px;
  margin-top: 20px;
}

.page-detail .sort-search p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 50px;
  margin: 0px 0px 0px 2px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card {
  display: -ms-grid;
  display: grid;
  grid-gap: 25px;
  -ms-grid-columns: 5fr 5fr;
      grid-template-columns: 5fr 5fr;
  -ms-grid-rows: 5fr 5fr;
      grid-template-rows: 5fr 5fr;
  margin-top: 20px;
}

.card .acceleration, .card .dvs, .card .biology, .card .mathematics {
  background-color: #FFFFFF;
  padding: 20px 20px 0px 20px;
}

.card .acceleration .upper, .card .dvs .upper, .card .biology .upper, .card .mathematics .upper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 15px;
}

.card .acceleration .upper .course-image, .card .dvs .upper .course-image, .card .biology .upper .course-image, .card .mathematics .upper .course-image {
  width: 132px;
}

.card .acceleration .upper .down-arrow, .card .dvs .upper .down-arrow, .card .biology .upper .down-arrow, .card .mathematics .upper .down-arrow {
  float: right;
}

.card .acceleration .upper .info, .card .dvs .upper .info, .card .biology .upper .info, .card .mathematics .upper .info {
  padding-left: 20px;
  color: #666666;
  font-size: 12px;
}

.card .acceleration .upper .info .topic, .card .dvs .upper .info .topic, .card .biology .upper .info .topic, .card .mathematics .upper .info .topic {
  color: #222222;
  font-size: large;
}

.card .acceleration .upper .info .professor, .card .acceleration .upper .info .all-classes, .card .dvs .upper .info .professor, .card .dvs .upper .info .all-classes, .card .biology .upper .info .professor, .card .biology .upper .info .all-classes, .card .mathematics .upper .info .professor, .card .mathematics .upper .info .all-classes {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.32);
}

.card .acceleration .upper .info .no-classes, .card .dvs .upper .info .no-classes, .card .biology .upper .info .no-classes, .card .mathematics .upper .info .no-classes {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.32);
  color: rgba(0, 0, 0, 0.4);
}

.card .acceleration .upper .info .bold, .card .dvs .upper .info .bold, .card .biology .upper .info .bold, .card .mathematics .upper .info .bold {
  color: black;
  font-weight: bold;
}

.card .acceleration .upper .info .subject-grade, .card .acceleration .upper .info .index, .card .acceleration .upper .info .student-date, .card .dvs .upper .info .subject-grade, .card .dvs .upper .info .index, .card .dvs .upper .info .student-date, .card .biology .upper .info .subject-grade, .card .biology .upper .info .index, .card .biology .upper .info .student-date, .card .mathematics .upper .info .subject-grade, .card .mathematics .upper .info .index, .card .mathematics .upper .info .student-date {
  color: #666666;
  font-size: 12px;
}

.card .acceleration .upper .info .subject-grade .highlight, .card .dvs .upper .info .subject-grade .highlight, .card .biology .upper .info .subject-grade .highlight, .card .mathematics .upper .info .subject-grade .highlight {
  color: #1F7A54;
}

.card .acceleration .upper .info .index span, .card .dvs .upper .info .index span, .card .biology .upper .info .index span, .card .mathematics .upper .info .index span {
  padding: 0px 3px;
}

.card .acceleration .divider, .card .dvs .divider, .card .biology .divider, .card .mathematics .divider {
  display: inline;
}

.card .acceleration .manage-course, .card .dvs .manage-course, .card .biology .manage-course, .card .mathematics .manage-course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.card .acceleration .manage-course p, .card .dvs .manage-course p, .card .biology .manage-course p, .card .mathematics .manage-course p {
  margin-bottom: 0;
}

.card .acceleration .manage-course p img, .card .dvs .manage-course p img, .card .biology .manage-course p img, .card .mathematics .manage-course p img {
  padding: 0px 25px 0px 25px;
}

.card .acceleration .manage-course .disable, .card .dvs .manage-course .disable, .card .biology .manage-course .disable, .card .mathematics .manage-course .disable {
  opacity: 40%;
}

.card p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card .topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: medium;
}

.card .down-arrow {
  float: right;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  #hero {
    width: 100%;
  }
  .hidden {
    display: none;
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container {
    width: 100%;
  }
  .top-toggle {
    margin: auto 25px auto 25px;
  }
  .page-detail {
    margin: auto 25px auto 25px;
  }
  .card {
    width: 70%;
    padding: 0px 100px 0px 100px;
    -ms-grid-columns: 10fr;
        grid-template-columns: 10fr;
    -ms-grid-rows: 10fr 10fr 10fr 10fr;
        grid-template-rows: 10fr 10fr 10fr 10fr;
  }
}
/*# sourceMappingURL=style.css.map */