@import "./font";

$font: Quicksand-VariableFont;
$background: #EEEEEE;
$hero-background: url("\\quantum-screen-assets\\header-pattern-image.png");
$contact-color: #1F7A54;
$footer-backgound:#E0E1E1;
$footer-color: #616161;