$form-background: #ffffff;
$form-border: 5px solid #3AC7EC;
$form-padding: 20px;
$label-for-input-color: #666666;
$user-input-border: 1px solid rgba(0, 0, 0, .12);
$username-password-color:#666666;
$forgot-credentials-color:#1F7A54;
$login-button-background-color: #3FD28B;